<div class="container" #containerWindow>

  <div class="school">
    <b>
      <p>Colegio</p>
    </b>
    <p class="lic">Licencias</p>
  </div>
  <div class="scroll-table">
    <table class="table">
      <thead>
        <tr ng-repeat="" class="trc">
          <th class="primero">Docente</th>
          <th class="segundo">Correo electrónico</th>
          <th class="tercero">Clases</th>
          <th class="cuarto">Licencias</th>
          <th class="quinto">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="primero">Samuel etoo Mombaye dsasd</td>
          <td class="segundo"> asdffasdfjcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
º
        <tr>
          <td class="primero">Samuel etoo Mombaye dsasd</td>
          <td class="segundo"> asdffasdfjcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>

        <!-- <tr*ngFor="let item of ItemsArray ">
        <td class="primero">Docente</td>
        <td class="segundo">Correo electrónico</td>
        <td class="tercero">Clases</td>
        <td class="cuarto">Licencias</td>
        <td class="quinto"><img src="../../../assets/eliminar.png" alt=""></td>
      </tr*ngFor=> -->
      </tbody>
    </table>
  </div>
</div>
