<div class="container" #containerWindow>
  <div class="class">
    <b>
      <p>Clase</p>
    </b>
    <div class="buttonstop">
      <!-- <button *ngFor="" class="btn"></button> -->
      <button class="btn ">Clase 1</button>
      <button class="btn ">Clase 2</button>
    </div>
  </div>

    <div class="buttonsbot">
      <button class="btn">Activar Licencias</button>
      <!-- <button *ngFor=""></button> -->
      <button class="btn">Generar código</button>
      <input type="text" class="buscar" name="filterItem" placeholder="Buscar..." [(ngModel)]="filterItem">
      <button class="btn delete">Eliminar</button>
    </div>




  <div class="scroll-table">
    <table class="table">
      <thead>
        <tr class="trc">
          <th class="primero"><input type="checkbox"></th>
          <th class="segundo">Nombre y apellido</th>
          <th class="tercero">Correo electrónico</th>
          <th class="cuarto">Licencia</th>
          <th class="quinto">Eliminar</th>
        </tr>
      </thead>

      <tbody>
        <!-- <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr>
        <tr>
          <td class="primero"><input type="checkbox"></td>
          <td class="segundo"> qwerqwejcaste999@gmail.com</td>
          <td class="tercero"> 1º Bachillerato A </td>
          <td class="cuarto">30/30 </td>
          <td class="quinto"> <img src="../../../assets/eliminar.png" alt=""> </td>
        </tr> -->

        <tr *ngFor="let item of itemsAlumn | filter:filterItem">
        <td class="primero">Docente</td>
        <td class="segundo">Correo electrónico</td>
        <td class="tercero">Clases</td>
        <td class="cuarto">Licencias</td>
        <td class="quinto"><img src="../../../assets/eliminar.png" alt=""></td>
       </tr>
      </tbody>




    </table>
  </div>
  <p class="p2">Licencias 30/30</p>
</div>
